<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Redirecting...</title>
  </head>
  <body>
    <p>Signing in, please wait...</p>
    <script>
      const urlParams = new URLSearchParams(window.location.search);
      const code = urlParams.get("code");

      // Post the code back to the parent window (Frontend)
      window.opener.postMessage({ code: code }, "http://localhost:8080");

      // Close the popup window
      window.close();
    </script>
  </body>
</html>
